body {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #a8bf7e;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);

  padding: 20px;
  width: 344px;
  background-color: rgb(160, 208, 234);
  gap: 10px;

  height: 500px;
  border-radius: 10px;
}
#display {
  background-color: #f1fbeb;
  grid-column: 1/5;
  padding: 10px;
  margin-bottom: 15px;
  height: 60px;
  box-shadow: 0 5px 0 rgba(0, 0, 0, 20%);
  text-align: left;
  
}
.white {
  background-color: #efefef;
  box-shadow: 0 5px 0 rgba(0, 0, 0, 20%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.red {
  background-color: rgb(254, 159, 169);
  box-shadow: 0 5px 0 rgba(0, 0, 0, 20%);

  display: flex;
  justify-content: center;
  align-items: center;
}
.yellow {
  background-color: #efff93;
  box-shadow: 0 5px 0 rgba(0, 0, 0, 20%);

  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1000px){


.red {
  background-color: rgb(36, 207, 73);
  box-shadow: 0 5px 0 rgba(33, 200, 206, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons {
  border: .05px solid ;
  cursor: pointer;
}
}
p {
  display: flex;
  position: absolute;
  top: 10px;
  color: hsl(0deg 0% 50%);
  font-size: larger;
  font-weight: 600;
}
